{% extends "main.html" %}
{% block content %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">

		</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>

	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>



	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">

		</div>
		<div class="col-md-1"></div>
	</div>
<div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<a href="{{url_for('newcatalog')}}"><h4 class="positon">Addcatalog</h4></a>
			</div>

		</div>

	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
			    {% for r in result %}


				<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 ">
						<a href="{{url_for('Catalogdes', catalog_id = r.catalog_id ,item_id = r.id )}}"><h3>{{r.name}}</h3></a>
						{% if 'username' in session%}
						<a href="{{url_for('edititem',catalog_id = r.catalog_id,item_id = r.id)}}">edit</a>
						<a href="{{url_for('deleteitem',catalog_id = r.catalog_id,item_id = r.id)}}">delete</a>

						{% endif%}

					</div>

				<div class="col-md-1"></div>
				</div>

	               {% endfor %}

			</div>

			<div class="col-md-6 col-sm-6">


            {% for c in catalog %}

			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 ">

						<a href="{{url_for('Catalogi', catalog_id = c.id )}}"><h3>{{c.name}}</h3></a>
                        {% if 'username' in session %}
						<a href="{{url_for('editcatalog',catalog_id = c.id)}}"><p>edit</p></a>
						 <a href="{{url_for('deletecatalog',catalog_id = c.id)}}"><p>delete</p></a>
						<a href="{{url_for('additem',catalog_id = c.id)}}">add</a>
						{% endif %}
					</div>
				<div class="col-md-1"></div>
			</div>

	  {% endfor %}
			</div>

		</div>

	</div>
</div>


{% endblock %}
